.book-card {
  width: 250px;
  border-radius: 0 0 10px 10px;
  background: #ffffff;
  box-shadow: 7px 7px 14px #d1d1d1, -7px -7px 14px #ffffff;
}

.book-cover {
  width: 100%;
  height: 250px;
}

.book-data {
  padding: 10px;
}

.book-title,
.book-desc {
  margin-bottom: 10px;
}

.update,
.delete {
  display: inline-block;
  padding: 5px 10px;
  border-radius: 8px;
  border: 1px solid;
  text-decoration: none;
  background: none;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.update {
  color: hsl(201, 93%, 47%);
  margin-right: 15px;
}

.delete {
  color: hsl(340, 85%, 63%);
}
